[runner_{{ gitlab_runner_package_name }}]
name=runner_{{ gitlab_runner_package_name }}
baseurl=https://packages.gitlab.com/runner/{{ gitlab_runner_package_name }}/el/{{ ansible_distribution_major_version }}/$basearch
repo_gpgcheck={{ gitlab_runner_repo_gpgcheck }}
gpgcheck={{ gitlab_runner_gpgcheck }}
enabled={{ gitlab_runner_enabled }}
gpgkey={{ gitlab_runner_gpgkey }}
sslverify={{ gitlab_runner_sslverify }}
sslcacert={{ gitlab_runner_sslcacert }}

[runner_{{ gitlab_runner_package_name }}-source]
name=runner_{{ gitlab_runner_package_name }}-source
baseurl=https://packages.gitlab.com/runner/{{ gitlab_runner_package_name }}/el/{{ ansible_distribution_major_version }}/SRPMS
repo_gpgcheck={{ gitlab_runner_repo_gpgcheck }}
gpgcheck={{ gitlab_runner_gpgcheck }}
enabled={{ gitlab_runner_enabled }}
gpgkey={{ gitlab_runner_gpgkey }}
sslverify={{ gitlab_runner_sslverify }}
sslcacert={{ gitlab_runner_sslcacert }}
